<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Secured Signing</title>
    <link rel="stylesheet" href="~/styles/normalise.css" />
    <link rel="stylesheet" href="~/styles/styles.css"/>
    


</head>
<body id="body">
    @RenderBody()
    
    <!--Links To Google Fonts For Signatures-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&family=Leckerli+One&family=Yellowtail&display=swap" rel="stylesheet"> 
     <!--Links To Google Fonts For Signatures-->

    <script src="~/js/print.min.js"></script>
    <script src="~/js/html2canvas.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/knockout-3.5.1.js"></script>
    <script src="~/js/knockout.validation.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
