@model MvcEmployeeDetails.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullAddress" class="control-label"></label>
                <input asp-for="FullAddress" class="form-control" />
                <span asp-validation-for="FullAddress" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MailingAddressSameAsFullAddress" /> @Html.DisplayNameFor(model => model.MailingAddressSameAsFullAddress)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MailingAddress" class="control-label"></label>
                <input asp-for="MailingAddress" class="form-control" />
                <span asp-validation-for="MailingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitizenshipStatus" class="control-label"></label>
                <input asp-for="CitizenshipStatus" class="form-control" />
                <span asp-validation-for="CitizenshipStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentStartDate" class="control-label"></label>
                <input asp-for="EmploymentStartDate" class="form-control" />
                <span asp-validation-for="EmploymentStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentType" class="control-label"></label>
                <input asp-for="EmploymentType" class="form-control" />
                <span asp-validation-for="EmploymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionTitle" class="control-label"></label>
                <input asp-for="PositionTitle" class="form-control" />
                <span asp-validation-for="PositionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactName" class="control-label"></label>
                <input asp-for="EmergencyContactName" class="form-control" />
                <span asp-validation-for="EmergencyContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactRelationship" class="control-label"></label>
                <input asp-for="EmergencyContactRelationship" class="form-control" />
                <span asp-validation-for="EmergencyContactRelationship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactPhoneNumber" class="control-label"></label>
                <input asp-for="EmergencyContactPhoneNumber" class="form-control" />
                <span asp-validation-for="EmergencyContactPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeSignature" class="control-label"></label>
                <input asp-for="EmployeeSignature" class="form-control" />
                <span asp-validation-for="EmployeeSignature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
